body {
  /* padding-top: 81px; */
  font-family: var(--primary-ff);
  font-size: var(--primary-fs);
  color: var(--primary-color);
  background-color: var(--second-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --logo-color: #000000;
  --primary-color: #212121;
  --second-color: #ffffff;
  --third-color: #757575;
  --fourth-color: rgba(255, 255, 255, 0.6);
  --first-accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --first-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --header-border-color: #ececec;
  --works-cards-border-color: #eeeeee;
  --primary-ff: 'Roboto';
  --accent-ff: 'Raleway';
  --hero-fs: 44px;
  --hero-fw: 900;
  --hero-lh: 1.36;
  --hero-ls: 0.06em;
  --title-fs: 36px;
  --title-fw: 700;
  --title-lh: 1.17;
  --title-ls: 0.03em;
  --primary-fs: 14px;
  --primary-fw: 700;
  --primary-lh: 1.14;
  --primary-ls: 0.03em;
  --list-gap: 30px;
  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: var(--accent-ff), sans-serif;
  font-weight: var(--primary-fw);
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: var(--primary-ls);
  color: inherit;
}

.logo--theme-light {
  color: var(--logo-color);
}

.logo--theme-dark {
  color: var(--second-color);
}

.logo__web {
  color: var(--first-accent-color);
}

.btn {
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: var(--primary-fw);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-color);
  cursor: pointer;
  background-color: var(--first-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--cubic);
}

.btn:hover, .btn:focus {
  background-color: var(--second-accent-color);
}

.btn-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--second-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color var(--duration) var(--cubic);
}

.btn-close:hover, .btn-close:focus {
  color: var(--first-accent-color);
}

.btn-close__icon {
  flex-shrink: 0;
  fill: currentColor;
}

.btn-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--primary-ls);
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--second-bg-color);
  transition: color var(--duration) var(--cubic), background-color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic);
}

.btn-filter:hover, .btn-filter:focus, .btn-filter--active {
  color: var(--second-color);
  background-color: var(--first-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-menu {
  padding: 0;
  border: none;
  background-color: #fff;
}

.btn-menu:hover, .btn-menu:focus {
  color: var(--first-accent-color);
}

.btn-menu .menu__icon-cross {
  display: none;
}

.btn-menu--open .menu__icon-burger {
  display: none;
}

.btn-menu--open .menu__icon-cross {
  display: block;
}

.menu,
.contacts {
  display: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

.container--baseline {
  display: flex;
  align-items: baseline;
}

.header {
  color: var(--primary-color);
  background-color: var(--second-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header__nav {
  display: flex;
}
/*# sourceMappingURL=main.css.map */