@mixin font(
  $fw: var(--primary-fw),
  $fs: var(--primary-fs),
  $lh: var(--primary-lh),
  $ls: var(--primary-ls),
  $clr: inherit
) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: $clr;
}
