.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: calc(var(--list-gap) / -2);
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: var(--list-gap);
    }
  }

  @media screen and (min-width: 768px) {
    margin: calc(var(--list-gap) / 2);
    flex-basis: calc((100% - 2 * var(--list-gap)) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * var(--list-gap)) / 4);
  }
}

.features__thumb {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  background-color: var(--second-bg-color);
  border-radius: 4px;
}

.features__icon {
  display: block;
}

.features__title {
  margin-bottom: 10px;

  @include font();

  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  line-height: 1.71;
  letter-spacing: var(--primary-ls);

  color: var(--third-color);
}
