.header {
  position: relative;

  color: var(--primary-color);
  background-color: var(--second-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__btn-menu {
  position: relative;
  z-index: 6;
}

.header__menu-container {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    display: none;
    min-height: 796px;
    width: 100%;

    padding: 48px 40px;

    background-color: white;

    &--open {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    width: 100%;
  }
}

.header__social {
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__social-item:not(:first-child) {
  padding-left: 10px;
}

.header__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__social-link {
  display: block;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2196f3;
}
