.header {
  position: relative;

  color: var(--primary-color);
  background-color: var(--second-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}
