.btn {
  min-width: 200px;
  height: 50px;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  @include font(var(--primary-fw), 16px, 1.87, 0.06em, var(--second-color));

  cursor: pointer;
  background-color: var(--first-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--duration) var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--second-accent-color);
  }
}

.btn-close {
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background-color: var(--second-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color var(--duration) var(--cubic);

  &:hover,
  &:focus {
    color: var(--first-accent-color);
  }

  &__icon {
    flex-shrink: 0;
    fill: currentColor;
  }
}

.btn-filter {
  padding: 6px 22px;

  font-family: inherit;
  @include font(500, 16px, 1.62, var(--primary-ls), var(--primary-color));

  border: none;
  border-radius: 4px;
  cursor: pointer;

  background-color: var(--second-bg-color);

  transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic),
    box-shadow var(--duration) var(--cubic);

  &:hover,
  &:focus,
  &--active {
    color: var(--second-color);
    background-color: var(--first-accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn-menu {
  padding: 0;
  border: none;
  background-color: #fff;

  &:hover,
  &:focus {
    color: var(--first-accent-color);
  }

  & .menu__icon-cross {
    display: none;
  }
}

.btn-menu--open {
  & .menu__icon-burger {
    display: none;
  }
  & .menu__icon-cross {
    display: block;
  }
}

.menu,
.contacts {
  display: none;
}
