.contacts__item:not(:first-child) {
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @include font(500, 12px, 1.16, 0.02em, var(--third-color));

  transition: color var(--duration) var(--cubic);

  &:hover,
  &:focus {
    color: var(--first-accent-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;

    @include font(
      500,
      var(--primary-fs),
      var(--primary-lh),
      0.02em,
      var(--third-color)
    );
  }
}

.contacts__phone {
  @media screen and (min-width: 1200px) {
    & .contacts__icon {
      width: 10px;
      height: 16px;
    }
  }
}

.contacts__email {
  @media screen and (min-width: 1200px) {
    & .contacts__icon {
      width: 16px;
      height: 12px;
    }
  }
}

.contacts__icon {
  margin-right: 10px;

  fill: currentColor;
}
