.menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font($fw: 500, $ls: 0.02em, $clr: var(--primary-color));

  &:hover,
  &:focus,
  &--current {
    color: var(--first-accent-color);
  }

  &--current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--first-accent-color);
    border-radius: 2px;
  }
}
