.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  padding: 48px 40px;

  visibility: hidden;
  opacity: 0;
  // pointer-events: none;

  transform: translateX(-100%);

  background-color: var(--second-color);
  transition: transform 500ms var(--cubic), visibility 250ms var(--cubic),
    opacity 250ms var(--cubic);

  &--open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;

    overflow-y: scroll;
  }
}

.mobile-menu__btn-menu {
  position: absolute;
  top: 21px;
  right: 25px;
}

.mobile-menu__nav {
  margin-bottom: 50px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--primary-color);
  transition: color var(--duration) var(--cubic);

  &:hover,
  &:focus,
  &--current {
    color: var(--first-accent-color);
  }
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link {
  &:hover,
  &:focus {
    color: var(--second-accent-color);
  }
}

.mobile-menu__contacts-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: var(--first-accent-color);
}

.mobile-menu__contacts-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--third-color);
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: -10px;
}

.mobile-menu__social-item {
  margin-bottom: 10px;
}

.mobile-menu__social-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-link {
  display: block;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--first-accent-color);

  &:hover,
  &:focus {
    color: var(--second-accent-color);
  }
}
