.modal {
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;

  // max-height: 609px;
  height: 100%;
  overflow-y: auto;

  transform: translate(-50%, -50%) scale(1);

  width: 100%;
  border-radius: 4px;

  background-color: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--duration) var(--cubic);

  .backdrop.backdrop--hidden > & {
    transform: translate(-50%, -50%) scale(0.5);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
}
