.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--icon-color);
  border-radius: 50%;

  transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic);

  &:hover,
  &:focus {
    color: var(--second-color);
    background-color: var(--first-accent-color);
    outline: none;
  }
}

.social-link--theme-dark {
  color: var(--second-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link__icon {
  fill: currentColor;
}
